@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    margin: auto;
}

li, a, button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
    }


    header{
    background-color: #1f1f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10%;
    line-height: 40px;
    text-align: center;
    }
    
    .logo{
        width: 100px;
        height: 100px;
        cursor: pointer;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .nav_links{
        list-style: none;
    }
    
    .nav_links li{
        display: inline-block;
        padding: 0px 20px;
    }
    
    .nav_links li a{
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover{
        color: #4d8ef7;
    }
    
    button{
        margin-left: 20px;
        padding: 9px 20px;
        background-color: #3a7ff0;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    button:hover{
        background-color: #4d8ef7;
    }
    
    .navigation{
        position: absolute;
        bottom: -220px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
    }

.slide {
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
}
.slides{
    display: flex;
    width: 1000px;
}
.images img {
    width: 1000px;
    height: 600px;
}
#atual{
    transition: all 2s;
}
.btn{
    position: absolute;
    color: #1f1f20;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}
.btn:hover {
    transform: scale(1.5)
}
#voltar {
    top: 50%;
    left: 0%;
}
#next {
    top: 50%;
    right: 0%;
}
.balls {
    position: absolute;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
.balls div {
    transition: all 0.5s;
    border: 3px solid #1f1f20;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.balls div:hover {
    background: #1f1f20;
}
.imgAtual {
    transition: all 0.5s;
    background: #1f1f20;
}

.not{
    position: absolute;
    top: 100%;
    left: 10%;
    order: -1;
}

.not_item{
    display: flex;
}

.not img{
    width: 360px;
    height: 200px;
    margin-right: 10px;
}

.not a{
    color: black;
    padding-top: 100px;
    transition: all 0.3s ease 0s;
}

.not a:hover{
    color: #4d8ef7;
}

footer {
    position: relative;
    top: 476%;
    width: 100%;
    height: 100px;
    background-color: #4d8ef7;
    line-height: 100px;
    overflow: hidden;
}

.logotipo {
   width: 100%;
   text-align: center;
   font-size: 0.7em;
}

.logotipo img {
   width: 20%;
   vertical-align: middle;
}

.redes {
   width: 100%;
   text-align: center;
}

.redes img {
   width: 18%;
   margin: 7px;
}

.redes ul li {
   text-transform: uppercase;
   list-style-type: none;
   display: inline;
}

@media only screen and (min-width: 450px)
and (max-width: 769px){
   footer {
       clear: both;
       width: 100%;
    }
    .logotipo {
        width: 50%;
        float: left;
        text-align: left;
    }
    .redes {
        width: 50%;
        float: right;
    }
}

@media only screen and (min-width: 769px) {
   footer {
       width: 100%;
       clear: both;
   }
   .logotipo {
       font-size: 1em;
       width: 45%;
       float: left;
       text-align: center;
    }
    .logotipo img, .redes img {
        width: 10%;
    }
    .redes {
        width: 45%;
        float: right;
        margin-right: 1%;
        text-align: center;
    }
}