<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
<title> Ingames </title>
<link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

<body>
    <br>
    <br>

<header> 
    <img class="logo" src="images/icon.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="../../index.html">Home</a></li>
    </nav>
        <a class="cta" href="../../index.html#contato"> <button> Contato </button></a>
</header>   

<br>
<br>
<br>
<br>

<div class="title">

    <h1>
        CS:GO: MIBR e Imperial estreiam Pinnacle Cup 2022 em situações opostas
    </h1>

    <h3>
        O Made in Brazil foi derrotado em seu primeiro jogo pela competição, enquanto os imperadores conseguiram a vitória
    </h3>

    <h4>
        08.06.2022
    </h4>

    <img src="images/lcsgo1.jpg">

</div>

<div class="not">
    
    <p>
        MIBR e Imperial estrearam pela Pinnacle Cup 2022 de Counter-Strike: Global Offensive (CS:GO) em situações opostas. O Made in Brazil não conseguiu bater a BIG, enquanto os imperadoers enfrentaram e venceram a Finest. Ainda hoje, a competição terá mais um jogo envolvendo brasileiros.
    </p>

    <h1>
        A situação do MIBR
    </h1>

    <p>
        O MIBR estreou contra a BIG, às 7h do Brasil. O confronto foi disputado na Nuke e, por lá, os representantes da Alemanha souberam aproveitar muito bem o lado de contra-terrorista, conquistando uma larga vantagem de 13 a 2. Na segnuda etapa não demorou para faveN e companhia completarem o serviço em 16 a 7.
<br> <br>
Mesmo com a derrota na estreia, o campeonato não acabou para o MIBR. O time volta a jogar ainda hoje, às 12h, contra a Heroic, valendo a permanência no Grupo A da Pinnacle Cup 2022.
    </p>

    <img src="images/lcsgo2.jfif">

    <h1>
        A situação da Imperial
    </h1>

    <p>
        Do outro lado, no Grupo B, a Imperial levou a melhor sobre a Finest por 16 a 12, na Dust 2. Coincidentemente, por aqui também foi o lado CT que fez a diferença e colocou o Brasil na frente em 12 a 3. Na segunda etapa os imperadores passaram por momentos complicados, mas a larga vantagem contribuiu bastante na vitória.
<br> <br>
Com este primeiro triunfo garantido, o The Last Dance volta a jogar apenas na quinta-feira (9), às 6h (horário de Brasília). O adversário da vez será a Astralis, valendo vaga nos playoffs da competição. No entanto, caso o elenco comandado por peacemaker não vença, eles ainda terão uma última chance.
    </p>

    <img src="images/lcsgo3.jfif">

    <h1>
        O campeonato
    </h1>

    <p>
        A Pinnacle Cup 2022 de CS:GO acontece entre 8 e 11 de junho, em Lund, na Suécia. A disputa conta com oito equipes em busca do título e da maior parte da premiação de US$ 250 mil - cerca de R$ 1,212 milhão. As representantes brasileiras por lá são as próprias MIBR e Imperial.
    </p>
</div>


</body>
</html>