<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
<title> Ingames </title>
<link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

<body>

    <br>
    <br>

<header> 
    <img class="logo" src="images/icon.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="../../index.html">Home</a></li>
        </ul>
    </nav>
    <a class="cta" href="../../index.html#contato"> <button> Contato </button></a>
</header>   

<br>
<br>
<br>
<br>

<div class="title">

<h1> 
    TEMPORADA 3 DE FORTNITE JÁ DISPONÍVEL 
</h1> <!-- TITULO -->

<h4>
    05.06.2022
</h4>

</div>

<br>

<div class="not">


    <img src="images/lfortnite1.jpg">

    <p>
        A Epic Games liberou, neste domingo (05), a Temporada 3 de Fortnite: Capítulo 3. Com uma temática festeira, a season traz muitas novidades, incluindo skins do Darth Vader (Star Wars) e Indiana Jones.
<br> <br>
Antes de mais nada, a editora exibiu dois trailers para promover o período. No vídeo cinemático, é possível ver até Vader brincando em uma montanha-russa. Já o outro teaser mostra mais da jogabilidade. Assista:
    </p>

    <h1>
        <iframe width="860" height="450" src="https://www.youtube.com/embed/_4roR7V9fpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br> <br>
        <iframe width="860" height="450" src="https://www.youtube.com/embed/dT_6zP9Idt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </h1>

    <p> 
        Segundo a Epic, os jogadores encontrarão um novo bioma no mapa da ilha: a “Cachoeira da Realidade”. Nessa floresta existem cogumelos “comuns e quicantes”, árvores roxas, gêiseres, além de haver como nadar por baixo de cachoeiras.
        <br> <br>
Outra novidade em Fortnite Capítulo 3: Temporada 3, é a presença das “Sementes da Realidade”. Os sobreviventes podem plantá-la ao longo das partidas, para colherem o “Broto da Realidade”. Com ele em mãos, vá tirando suas ervas daninhas para aumentar o nível dos seus saques, até chegar ao level “mítico”.
    </p>

    <h1>
        Veículo e montarias
    </h1>

    <p> 
        Enquanto isso, as “Bolas de Hamster” estão de volta à ilha. É possível rolar pelo mapa enquanto a bateria desse veículo durar (quando ela acabar, é necessário procurar outro). Além disso, use-o para entrar no “Bolafuso”, a montanha-russa.
        <br> <br>
        Por falar em transportes, montarias selvagens também se encontram disponíveis na nova temporada. Pule em lobos ou javalis e utilize suas armas em cima deles — pode ser uma vantagem e tanto.
    </p>

    <img src="images/lfortnite2.jpg"> 

    <br>

    <h1>
        Novas armas em Fortnite: Capítulo 3
    </h1>

    <p>
        A Epic Games tratou de apresentar três novas armas em Fortnite: Capítulo 3. São elas: a “Espingarda de Dois Tiros”, o “Rifle Atirador de Elite (Rifle A.E.)” e o “Rifle de Assalto Martelo”.
    </p>
    
    <img src="images/lfortnite3.jpg">

<div class="lista">

    <p>
        Além disso, também há o retorno dos seguintes armamentos:

<ul>
<li>Pistola Auxiliar</li>
<li>Revólver</li>
<li>Espingarda Automática</li>
<li>Escopeta Atacante</li>
<li>SMG Ferrão</li>
<li>SMG de Combate</li>
<li>Rifle de Assalto do Guarda</li>
<li>Rifle de Rajada Atacante</li>
<li>Rifle de Precisão Pesado</li>
<li>Granada</li>
<li>Vidro de Vaga-lumes</li>
<li>Arpão</li>
<li>Rastreador de Sombras (arma Exótica)</li>
<li>Revólver de Seis Tiros Preciso (arma Exótica)</li>
<li>A Batida (arma Exótica)</li>
<li>Rifle de Precisão Fumegante (arma Exótica)</li>
<li>Granada de Onda de Choque</li>
</ul>

    </p>

</div>

<h1>
    Condição Tempestuosa
</h1>

<p>
    Outra novidade da Temporada 3 é que a tempestade — zona fora dos limites no battle royale — está mais perigosa. Quem ficar muito tempo nela desenvolverá o “Distúrbio da Tempestade”, uma “condição que potencializa a redução de vida”, segundo a Epic.
<br> <br>
Os jogadores receberão um aviso quando estiverem prestes a desenvolver o tal distúrbio. Para evitar a perda massiva de HP, basta sair da tempestade — entretanto, entre de novo nela, e a condição retornará.
</p>

<h1>
    Darth Vader, Indiana Jones e mais no Passe de Batalha
</h1>

<p>
    O novo Passe de Batalha conta com várias novidades interessantes, especialmente para os cinéfilos de plantão. Duas skins garantidas para essa temporada são as do Darth Vader (Star Wars) e do Indiana Jones — esta última ficará disponível ao longo da season.
</p>

<img src="images/lfortnite4.jpg">

<div class="lista2">
<p>
    Além desses ícones do cinema, os fãs podem esperar os seguintes trajes:
<ul>
<li>Estalido</li>
<li>Adira</li>
<li>Caça-Tempestades</li>
<li>Malik</li>
<li>Sabina</li>
</ul>
<p>
    O Estalido será a skin mais personalizável da ilha. Isso porque, ao desbloqueá-lo na página 1 do Passe de Batalha, ele traz as suas tarefas. Ao concluí-las, o jogador recebe uma “parte” dele (braços, cabeças, pernas e troncos). Combine-as da maneira que achar melhor e monte sua própria versão do personagem.
</p>

<img src="images/lfortnite5.jpg">

</p>

</div>

</div>

<br>
<br>


</body>
</html>