<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
<title> Ingames </title>
<link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

<body>
    <br>
    <br>

<header> 
    <img class="logo" src="images/icon.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="../../index.html">Home</a></li>
        </ul>
    </nav>
    <a class="cta" href="../../index.html#contato"> <button> Contato </button></a>
</header>   

<br>
<br>
<br>
<br>

<div class="title">

    <h1>
        Free Fire: Gerente da Garena vê com bons olhos mundial no Brasil
    </h1>
    
    <h3>
        Brasil foi sede do World Series de Free Fire em 2019, quando o Corinthians conquistou o título
    </h3>

    <h4>
        09.06.2022
    </h4>

</div>

<div class="not">

    <p>
        Justin Lye, gerente global de esports da Garena, revelou nesta semana em entrevista ao Esports Insider que o Brasil pode receber mais uma edição do Free Fire World Series (FFWS). Torneio mundial da modalidade, ele foi disputado pela primeira vez no país em 2019. Na edição do Rio de Janeiro, o Corinthians conseguiu conquistar o título da competição.
    </p>
    
    <img src="images/lfreefire.png">

    <p>
        Até o momento, a Garena não deu detalhes sobre o local da próxima edição do mundial de Free Fire. Entretanto, já se sabe que o evento será realizado em novembro. Próximo da realização do segundo World Series da temporada, a fala do gerente de esports da desenvolvedora dá esperança para os torcedores brasileiros.
<br> <br>
        – O Brasil tem sido uma comunidade enorme e solidária com o Free Fire. Adoraríamos fazer e levar outro evento para lá algum dia – disse Lye, deixando em aberto a possibilidade de o país poder receber uma nova edição do Free Fire World Series.
<br> <br>
        Além de dar esperança para os brasileiros terem esperança de que o torneio voltará para o Brasil, Justin também revelou que a Garena está trabalhando com a possibilidade de voltar os eventos com a presença do público. Em decorrência da pandemia do Covid-19, apesar de os eventos acontecerem presencialmente, não há a presença de torcida.
<br> <br>
        – Torneios presenciais em grande escala são sempre emocionantes de se fazer parte. Então, à medida que as condições atuais diminuem, esperamos receber grandes públicos com segurança novamente – afirmou.
    </p>

</div>



</body>
</html>