<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
<title> Ingames </title>
<link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

<body>
    <br>
    <br>

<header> 
    <img class="logo" src="images/icon.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="../../index.html">Home</a></li>

        </ul>
    </nav>
    <a class="cta" href="../../index.html#contato"> <button> Contato </button></a>
</header>   

<br>
<br>
<br>
<br>

<div class="title">

    <h1>
        LoL: Patch 12.11 terá lista grande de mudanças, confira
    </h1>

    <h4>
        02.06.2022
    </h4>

</div>

<div class="not">

    <p>
        Estamos chegando naquela hora de uma nova atualização dentro do League of Legends. Depois de publicar alguns teasers que 29 campeões sofreriam buffs e nerfs, agora foi a vez da equipe de desenvolvimento mandar ver com todas as alterações do Patch 12.11 do LoL.
<br> <br>
A lista de hoje é extensa, então já se prepare pra imensidão de novidades logo abaixo. Também temos mudanças em vários itens e outros ajustes dentro do jogo, como no dano das torres e nas Feridas Dolorosas.
    </p>
    
<div align="center">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">PATCH 12.11 FULL CHANGES. This one&#39;s a huge followup to 12.10 so sorry for the wall of text. Some added context on our philosophy in the thread (read till the end for Arcane Season 6 spoilers) <a href="https://t.co/PJNDFD52a1">pic.twitter.com/PJNDFD52a1</a></p>&mdash; Tim (@TheTruexy) <a href="https://twitter.com/TheTruexy/status/1532182531411304448?ref_src=twsrc%5Etfw">June 2, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

    <div class="lista">

    <h1>
        LoL: As mudanças até agora no patch 12.11
    </h1>

    <h2>
        Campeões buffados
    </h2>

    <h3>
        Aphelios
        <ul>
            <li>Velocidade de ataque da passiva: 6-36% > 7,5-45%</li>
            <li>Letalidade da passiva: 4,5-27 > 5,5-33</li>
        </ul>
    </h3>

    <h3>
        Caitlyn
        <ul>
            <li>Dano do Q pelo AD: 130-10% do AD > 125%-205% do AD</li>
            <li>Mana do Q: 50-90 > 55-75</li>
            <li>Dano base do E: 70-230 > 80-280</li>
            <li>Recarga do E: 16-10 > 16-8</li>
        </ul>
    </h3>

    <img src="images/llol1.jpg">

    <h3>
        Irelia
        <ul>
            <li>Cura do Q: 7-11% do AD > -13% do AD</li>
            <li>Recarga do E: 18-12 > 16-12</li>
        </ul>
    </h3>

    <h3>
        Gragas
        <ul>
            <li>Escala de AP no Q: 70% > 80%</li>
            <li>Recarga do Q: 11-7 > 10-6</li>
            <li>Recarga do E: 16-12 > 14-12</li>
        </ul>
    </h3>

    <h3>
        Lee Sin
        <ul>
            <li>AD base: 66 > 68</li>
            <li>Dano do Q: 50-150 (+100% do AD bônus) > 55-155 (+100% do AD bônus)</li>
        </ul>
    </h3>

    <h3>
        Nunu
        <ul>
            <li>Cura do Q em unidades: 65-185 (70% do AP) (6%bHP) > 65-185 (90% do AP) (+10%bHP)</li>
            <li>Cura do Q em campeões: 39-111 (+42% do AP) (+3,6% do AP) > 39-111 (+54% do AP) (6%bHP)</li>
        </ul>
    </h3>

    <h3>
        Rakan
        <ul>
            <li>Cura do Q: 18-90 > 30-115</li>
            <li>Recarga do W: 18-12 > 16-10</li>
            <li>Mana do E: 60-100 > 40-60</li>
            <li>Escudo base do E: 35-135 > 50-150</li>
        </ul>
    </h3>

    <h3>
        Ryze
        <ul>
            <li>Dano do E: 60-140 (+30% do AP) (2% da mana bônus) > 60-140 (+35% do AP) (2% do mana bônus)</li>
            <li>Mana do E: 40-100 > 35-75</li>
        </ul>
    </h3>
    
    <h3>
        Samira
        <ul>
            <li>Crescimento do AD: 3 > 3,3</li>
            <li>Escala de AD no dano do Q: 80-120% de AD > 85-125% de AD</li>
        </ul>
    </h3>

    <h3>
        Sylas
        <ul>
            <li>Mana do W: 60-100 > 50-90</li>
            <li>Escala de AP na cura do W: 35% > 40%</li>
            <li>Recarga do W: 13-6 > 12-6</li>
            <li>Recarga do E: 14-10 > 13-9</li>
        </ul>
    </h3>

    <h3>
        Tahm Kench
        <ul>
            <li>Dano da passiva no ataque: 8-60 (+2,5% bHP) > 8-60 (+4% bHP)</li>
            <li>Cura do Q: 1-20 > 10-30</li>
            <li>Escudo do R: 500-900 > 650-950</li>
        </ul>
    </h3>

    <h3>
        Taric
        <ul>
            <li>Cura do Q por contador: 25(+15% do AP) (+0,75% do HP máximo) > 25 (+15% do AP) (+1% do HP máximo)</li>
            <li>Mana do Q: 65-85 > 60</li>
            <li>Recarga do E: 17-13 > 15-11</li>
            <li>Duração do stun do E: 1,25 > 1,5</li>
        </ul>
    </h3>

    <img src="images/llol2.jpg">

    <h3>
        Tryndamere
        <ul>
            <li>Cura base do Q: 25-57 > 30-70</li>
            <li>Bônus de cura no Q por Fúria: 0,45-1,65 > 0,5-2,3</li>
            <li>Recarga do R: 130-90 > 120-80</li>
        </ul>
    </h3>

    <h2>
        Campeões nerfados
    </h2>

    <h3>
        Brand
        <ul>
            <li>Dano de queimadura na passiva: 3% > 2% da vida máxima</li>
            <li>Dano de detonação da passiva: 10-14% da vida máxima > 9-13% da vida máxima</li>
        </ul>
    </h3>

    <h3>
        Gwen
        <ul>
            <li>Bônus de AR/MR do W: 20 (+5% de AP) > 12-20 (+5% de AP)</li>
            <li>Recarga do W: 22-14 > 22-18</li>
            <li>Refund de recarga no E: 60% > 50%</li>
        </ul>
    </h3>

    <h3>
        Kog’Maw
        <ul>
            <li>Destruição de AR/MR no Q: 25-33% > 23-31%</li>
            <li>Bônus de velocidade de ataque do Q: 15-35% > 10-30%</li>
            <li>Dano em % do W: 3-7% > 3-6%</li>
        </ul>
    </h3>

    <h3>
        Lillia
        <ul>
            <li>HP base: 650 > 625</li>
            <li>Dano da passiva: 6% (+1,5% por 100 de AP) HP máximo > 6% (+1,2 por 100 de AP) HP máximo</li>
        </ul>
    </h3>

    <h3>
        Master Yi
        <ul>
            <li>Crescimento de HP: 106 > 100</li>
            <li>Dano verdadeiro do E: 30-62 (+35% do AD bônus) > 30-50 (+35% do AD bônus)</li>
        </ul>
    </h3>

    <h3>
        Rengar
        <ul>
            <li>HP base: 655 > 620</li>
            <li>Recarga do R: 110-70 > 110-90</li>
        </ul>
    </h3>

    <h3>
        Senna
        <ul>
            <li>Drop de almas de minions mortos: 2,1666% > 8,33%</li>
            <li>Slow base do Q: 20% > 15%</li>
            <li>Duração do slow do Q: 2s > 1-2s</li>
        </ul>
    </h3>

    <h3>
        Kayn (Slayer)
        <ul>
            <li>Dano do Q: 65% (+5% (aumentado por 5,5% por 100 de AD)% do HP máximo do alvo) > 65% (+5% (aumentado por 5% por 100 de AD)% do HP máximo do alvo)</li>
        </ul>
    </h3>

    <h3>
        Swain
        <ul>
            <li>Cura da passiva: 3,5-7% > 3-6%</li>
            <li>Dano do W: 80-240 (+70% do AP) > 80-220 (+55% do AP)</li>
            <li>Cura do R por tick: 15-45 (+20% do AP) > 15-40 (+18% do AP)</li>
        </ul>
    </h3>

    <img src="images/llol3.jpg">

    <h3>
        Taliyah
        <ul>
            <li>Dano do E em monstros: 100% > 150%</li>
            <li>R não pode mais ser usado em 3 segundos dando dano</li>
        </ul>
    </h3>

    <h3>
        Veigar
        <ul>
            <li>Recarga do E: 20-12 > 20-14</li>
        </ul>
    </h3>

    <h3>
        Wukong
        <ul>
            <li>Recarga do W: 20-12 > 22-12</li>
            <li>Dano do E em monstros: 180% > 160%</li>
        </ul>
    </h3>

    <h2>
        Ajustes de campeões
    </h2>

    <h3>
        Fizz
        <ul>
            <li>Crescimento de Mana: 37 > 52</li>
            <li>Crescimento de Vida: 112 > 106</li>
        </ul>
    </h3>

    <h3>
        Olaf
        <ul>
            <li>Limite da passiva: 22,5% > 30%</li>
            <li>Dano base do Q: 60-260 > 70-270</li>
            <li>Recarga mínima do Q: 3s > 2,5s</li>
            <li>Recarga do W: 16-10 > 16-12</li>
            <li>Armadura e resistência mágica do R: 10-40 > 10-30</li>
        </ul>
    </h3>

    <h3>
        Sona
        <ul>
            <li>
                Dano bloqueado no W agora sincroniza com o valor base do escudo</li>
        </ul>
    </h3>

    <h3>
        Zeri
        <ul>
            <p> Q </p>
            <li>Dano ativo: 7-15 (+1,1-1,2 AD) >>> 8-20 (+1,1-1,3 AD)</li>
            <li>Dano de ataque da passiva carregada: 90-200 (0,8 AP) + 1-10% da vida máxima >>> 90-200 (0,9 AP) +3-15% da vida máxima</li>
            <li>Slow da passiva será REMOVIDO</li>
            <p> W </p>
            <li>Recarga: 13-s >>> 12-8s</li>
            <li>Escala de AD: 1,4 >>> 1,5</li>
            <li>Slow: 30-70% >>> 30-50%</li>
            <li>Novo: Se o W acertar uma parede irá dar dano crítico em minions e campeões</li>
            <p> E </p>
            <li>Recarga: 26-20 >>> 22-16</li>
            <li>Redução da recarga por acerto: 1 >>> 0,5</li>
            <li>Redução da recarga no crítico: 3 >>> 1,5</li>
            <p> R </p>
            <li>Recarga: 120-70 >>> 100-70</li>
            <li>Velocidade de movimento por stack: 1,5% >>> 1%</li>
            <li>Stack por cada campeão acertado: 4 >>> 8</li>
        </ul>
    </h3>

    <img src="images/llol4.jpg">
    
    <h2>
        Buffs de sistema
    </h2>

    <h3>
        <ul>
            <li>Coroa da Rainha Despedaçada – AP: 60 > 70</li>
            <li>Explocinturão Hextec – Penetração Mágica: 6 > 10</li>
            <li>Colhedor Noturno – Aceleração de habilidade: 15 > 25 | Recarga por campeão: 40s > 30s</li>
            <li>Crepúsculo de Draktharr – Letalidade: 18 > 22</li>
            <li>Eclipse – Letalidade: 18 > 22 | Proc de dano: 6% do HP máximo > 6% do HP máximo (melee) / 3% do HP máximo (ranged)</li>
            <li>Garra do Espreitador – Letalidade: 18 > 22</li>
            <li>Arco de Axioma – Letalidade: 10 > 13</li>
            <li>Presa da Serpente – Letalidade: 12 > 14</li>
            <li>Hemodrenário – Aceleração passiva de Mítico: 5 > 7 por item lendário</li>
            <li>Sinal de Sterak – Bônus de AD: 40% do AD base > 45% do AD base | Escudo: 70% do HP bônus > 75% do HP bônus</li>
            <li>Lâmina do Rei Destruído – Roubo de vida: 7% > 8%</li>
            <li>Brasa de Bami – Custo total: 1100 > 1000</li>
            <li>Manopla do Raio de Gelo – Vida: 350 > 450</li>
            <li>Quimitanque Turbo – Vida: 350 > 450</li>
            <li>Édige de Fogo Solar – Vida: 350 > 450</li>
            <li>Randuin – Armadura: 80 > 90</li>
            <li>Semblante Espiritual – Resistência Mágica: 40 > 50</li>
            <li>Máscara Abissal – Resistência Mágica: 30 > 45 | Resistência Mágica por inimigo: 7 > 9</li>
            <li>Convergência de Zeke – Armadura: 25 > 35</li>
            <li>Juramento do Cavaleiro – Aceleração de habilidade: 10 > 20</li>
        </ul>
    </h3>

    <h2>
        Nerfs de sistema
    </h2>

    <h3>
        <ul>
            <li>Dano da torre – AD das torres fora da base: 167-391 > 162-344 durante o tempo de jogo</li>
            <li>Glacieterno – Duração do slow/stun: 1,5s > 1s</li>
            <li>Angústia de Liandry – Dano base da queima: 60 > 50</li>
            <li>Criafendas – Poder de Habilidade: 80 > 70</li>
            <li>Glaive Sombria – Recarga: 35s > 40s</li>
            <li>Mandíbula de Malmortius – Recarga: 60s > 75s</li>
            <li>Dança da Morte – Escala da Cura: 140% do AD bônus > 120% do AD bônus</li>
            <li>Tempo Letal (runa) – Velocidade de ataque bônus por stack: 5-9% > 3-7% para campeões ranged (melee se mantém)</li>
            <li>Mata-Cráquens – Bônus de Dano Verdadeiro: 60 (+45% de AD bônus) > 50 (+40% de AD bônus)</li>
        </ul>
    </h3>

    <h2>
        Ajustes de sistema
    </h2>

    <h3>
        <ul>
            <li>Feridas Dolorosas: 30/50% > 25%/40% de cura reduzida (de itens e campeões)</li>
            <li>Armadura de Espinhos – Retorno de dano: 10 (+10% de armadura bônus) > 10 (+20% de armadura bônus)</li>
            <li>Colete Espinhoso – Retorno de dano: 3 > 4</li>
            <li>Lembrete Mortal – Ativação de Feridas Dolorosas: 3 ataques básicos > 2 ataques básicos</li>
            <li>Serrespada Quimiopunk – AD: 45 > 55 | Aceleração de habilidade: 15 > 25</li>
            <li>Chamado do Carrasco – AD: 15 > 20</li>
            <li>Morellonomicon – AP: 80 > 90 | Vida: 250 > 300</li>
            <li>Putrificador Quimtec – AP: 55 > 60</li>
            <li>Orbe do Oblívio – AP: 30 > 35</li>
        </ul>
    </h3>
</div>

</div>


</body>
</html>