<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
<title> Ingames </title>
<link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

<body>
    <br>
    <br>

<header> 
    <img class="logo" src="images/icon.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="../../index.html">Home</a></li>
        </ul>
    </nav>
    <a class="cta" href="../../index.html#contato"> <button> Contato </button></a>
</header>   

<br>
<br>
<br>
<br>

<div class="title">

    <h1> VCT BR 2022: FURIA E LOUD CONFIRMAM VAGAS NOS PLAYOFFS </h1>

    <h3>
        Com vitórias sobre Gamelanders e Stars Horizon, equipes chegam a três vitórias e avançam de fase. Resta apenas uma vaga no Grupo A
    </h3>

    <h4>
        05.06.2022
    </h4>

    <img src="images/lvalorant1.png">

</div>

<div class="not">

    <p>
        Para a surpresa de poucos, LOUD e FURIA se classificaram neste domingo (5) aos playoffs da 2ª etapa do VALORANT Challengers (VCT) Brasil 2022. As organizações venceram Gamelanders e Star Horizon, respectivamente, e chegaram a três vitórias no Grupo A do torneio de VALORANT.
<br> <br>
Mesmo ainda com um jogo a menos, a LOUD está praticamente garantida na 1ª colocação do grupo e deve ir diretamente às semifinais, enquanto a FURIA terminou no 2º lugar e precisará jogar as quartas de final.
<br> <br>
        A FURIA fez um duelo acirrado com a Gamelanders. Apesar de ganharem a série por 2 a 0, os Panteras venceram por placares apertados em ambos os mapas: 13 a 11 na Breeze e 13 a 10 na Haven. Com isso, a FURIA terminou a fase de grupos com três vitórias e somente uma derrota (3-1).
    </p>
    
<div align="center">
    <blockquote class="twitter-tweet"><p lang="pt" dir="ltr">A <a href="https://twitter.com/FURIA?ref_src=twsrc%5Etfw">@FURIA</a> consegue fechar a Haven e a série e está garantida nos Playoffs! 🔥🔥<a href="https://twitter.com/hashtag/VCTBR?src=hash&amp;ref_src=twsrc%5Etfw">#VCTBR</a><br><br>🟢 <a href="https://t.co/09ERpx9gRE">https://t.co/09ERpx9gRE</a> | <a href="https://t.co/rX2l1cRusd">https://t.co/rX2l1cRusd</a> <a href="https://t.co/EqH2oJ1NTS">pic.twitter.com/EqH2oJ1NTS</a></p>&mdash; VALORANT Champions Tour Brazil (@valesports_br) <a href="https://twitter.com/valesports_br/status/1533571594320216064?ref_src=twsrc%5Etfw">June 5, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

    <p>
        Já a LOUD fez valer o favoritismo e não tomou conhecimento da Stars Horizon. Sacy e companhia também venceram por 2 a 0, mas com direito a 13 a 0 na Fracture. No mapa seguinte, as Estrelas até melhoraram, mas não foi o suficiente: 13 a 9 para a LOUD na Bind. O time segue invicto com três vitórias em três jogos (3-0) e ainda enfrenta a Gamelanders, no dia 12 de junho, pela última semana da competição.
    </p>

<div align="center">
    <blockquote class="twitter-tweet"><p lang="pt" dir="ltr">Mesmo na desvantagem, a <a href="https://twitter.com/LOUDgg?ref_src=twsrc%5Etfw">@LOUDgg</a> trabalha o round pra fechar a Fracture sem dropar um ponto! 1-0 na série.<a href="https://twitter.com/hashtag/VCTBR?src=hash&amp;ref_src=twsrc%5Etfw">#VCTBR</a><br><br>🟢 <a href="https://t.co/09ERpx9gRE">https://t.co/09ERpx9gRE</a> | <a href="https://t.co/rX2l1cRusd">https://t.co/rX2l1cRusd</a> <a href="https://t.co/zpgrbZMBEh">pic.twitter.com/zpgrbZMBEh</a></p>&mdash; VALORANT Champions Tour Brazil (@valesports_br) <a href="https://twitter.com/valesports_br/status/1533587414215704576?ref_src=twsrc%5Etfw">June 5, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

      <h1>
        O que ainda está em jogo?
      </h1>

      <p>
        No Grupo A, resta definir o 3º colocado com a última vaga aos playoffs do VCT. Somente Star Horizon e Los Grandes têm chances de classificação, e as duas equipes irão se enfrentar na última semana do campeonato. O confronto está previsto para acontecer às 17h (de Brasília) do dia 11 de junho. Quem vencer avança de fase, mas quem perder está eliminado.
      </p>

    <img src="images/lvalorant2.png">

    <h1>
        Campeonato
    </h1>

    <p>
        A 2ª etapa do VALORANT Challengers (VCT) Brasil 2022 acontece entre os dias 14 de maio e 26 de junho de forma presencial no estúdio da Riot Games, em São Paulo. Na fase de grupos, dez equipes estão divididas em dois grupos na disputa por seis vagas nos playoffs. A competição tem a premiação total de R$ 405 mil de premiação e garante uma vaga na 2ª etapa do VALORANT Masters e outra no Last Chance Qualifier.
    </p>

</div>

</body>
</html>